<h2>Welcome</h2>

<p>
  Tempo is a project planning/tracking application.
</p>


{{#unless session.currentUser}}
  {{link-to 'Login' 'login'}}
  <br>
  {{link-to "Sign Up" "signup"}}
  <br>
{{/unless}}
