{{#default-page heading="Welcome"}}
  <p>Tempo is a project planning and tracking application.</p>

  {{#unless session.currentUser}}
    {{link-to 'Login' 'login'}}<br/>
    {{link-to 'Sign Up' 'signup'}}
  {{/unless}}
{{/default-page}}