<h2>Edit Project</h2>

{{project-form project=model componentSubmit=(route-action "updateProject" model) componentCancel=(route-action "cancel")}}

<button {{action 'destroyProject' model}}>Delete Project</button>
