<h2>Projects</h2>

{{link-to '+ Add Project' 'projects.new' class="btn"}}
<br>
<br>

{{#if model}}
  <ul>
    {{#each model as |project|}}
      <li>{{link-to project.name "projects.detail" project}} &mdash; {{link-to 'Edit' 'projects.edit' project}}</li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}
