{{#default-page heading=model.title}}
  <p>{{link-to 'Edit' 'tasks.edit' model}}</p>

  <h3>Description</h3>
  <p>{{model.description}}</p>

  <p>Project: {{link-to model.project.name 'projects.detail' model.project}}</p>

  <p>User: {{link-to model.user.fullName 'profile' model.user}}</p>
{{/default-page}}
