{{#default-page heading="Edit Task"}}
  {{task-form
    task=model
    componentSubmit=(route-action 'updateTask' model)
    componentCancel=(route-action 'cancel')
  }}

  <button {{action 'destroyTask' model}}>Delete Task</button>
{{/default-page}}
