<h2>Profile</h2>

<div class="field">
  <span>Name: {{model.fullName}}</span>
</div>

<div class="field">
  <span>Email: {{model.email}}</span>
</div>

{{#if isCurrentUser}}
  {{link-to 'Edit Account' 'profile.edit' session.currentUser}}
{{/if}}
